@page {
    size: landscape;
    margin: 3pt;
}

body {
    font-size: 8.5pt;
    /*-webkit-print-color-adjust: exact;*/
}

@media print {

    html {
        width: 29.7cm;
        height: 21cm;
    }

    .links{
        color: #000;
    }




    .bloc {
        display:block;
        background-color:#fff;
        padding:5px;
        margin-bottom:5px;
        border: 1px orange dashed;
        border-radius: 0em;
        -moz-border-radius:0em;
        -webkit-border-radius:0em;
        }

    .titre {
        background-color:#000;
        border: 0px orange dashed;
        }

    li strong{
        font-weight: normal;
        color: #000;

        }

    li {
        color: #ccc;
        }



}

