body {
	background-color:#FFF;
	margin:0;
	padding:5px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:10px;
}

h1 {
   font-family: "monospace", sans-serif;
	font-weight: lighter;
	font-style: normal;
	font-size: 2.8em;
	color: orange;
	margin: 0px 0 -15px 0;
	text-transform: uppercase;
}
h2 {
   font-family: "monospace", sans-serif;
   font-weight: normal;
	font-style: normal;
	font-size: 1.4em;
	color: orange;
	text-transform: uppercase;
	margin: 0 0 10px 0;
}
p {
	color:#aaa;
}
a{
	color:#fff;
	
	font-style: italic;
	text-decoration:none;
}
a:hover{
	color:orange;
}

/* COLONNES */
.col {
  -moz-column-count: 4;
  -webkit-column-count: 4;
  column-count: 4;
  /* tentative d'evitement de rupture de colonnes, mais ça marche pas...*/
  -moz-break-inside: avoid;
  -moz-break-after: avoid-column;
  -webkit-break-inside: avoid;
  -webkit-break-after: avoid-column;

}

/* BLOCS STYLES*/
.bloc {
	display:block;
	background-color:#eee;
	padding:10px;
	margin-bottom:10px;
	border-radius: 0.5em;
	-moz-border-radius:0.5em;
	-webkit-border-radius:0.5em;
}

.titre {
	background-color:#222;

}
.titre a {
	color: #fff;

}

.titre a:hover {
	color: orange;

}
ul{
	padding: 0;
}

ul li{
	list-style: none;
}



/* si la page est infereieure a 1024 */

@media (max-width: 1024px) {
  /* COLONNES */
.col {
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3;
  }

/* si la page est infereieure a 780 */

@media (max-width: 780px) {

.col {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
  }

/* si la page est infereieure a 640 */
@media (max-width: 640px) {

.col {
  -moz-column-count: 1;
  -webkit-column-count: 1;
  column-count: 1;
  }
